# Integrantes do grupo

Esses são os três membros do grupo. Utilizamos um *.csv* para deixar mais dinâmico a apresentação. Para isso, usamos a biblioteca **Pandas**.

In [147]:
import pandas

hl_data = pandas.read_csv('../../docs/hl_atividade_1.csv')
hl_df = pandas.DataFrame(hl_data)
hl_df[:3]

,Member,Hentai Lab Corp,Relevance,Semester that joined,Founder
0,Matheus Marques Polillo,West,1.00,2,True
1,Thiago Aires,West,1.00,2,True
2,Marcello Bertero,West,0.97,3,False

---

# Character

Enquanto no R, o tipo de variável que representa dados em formato de texto é **character**, enquanto no Python é **str** (String). Usando `type()`, passando a variável que contém o dado como parâmetro do método podemos ver seu tipo.

In [2]:
type(hl_df.loc[0, 'Member'])

str

Como parâmetro do método foi passado o `dataframe.loc`, responsável por localizar certo valor em determinada linha e/ou coluna de um data frame. Neste caso, foi pego o nome do *Polillo* pra servir como valor para identificação de tipo. Para saber como fica o *output* do valor usado para identificar o tipo **str**, ele fica desta forma:

In [3]:
hl_df.loc[0, 'Member']

'Matheus Marques Polillo'

---

# Numeric

Dentro do R há um tipo de variável que comporta valores numéricos com casas decimais, ou seja, valores após a vírgula, enquanto no Python este tipo (**numeric**) é representado por um valor flutuante: o **float**. Usando `type()`, passando a variável que contém o dado como parâmetro do método podemos ver seu tipo.

In [4]:
type(hl_df.loc[2, 'Relevance'])

numpy.float64

Para ficar melhor a visualização do valor **float**, observe o seguinte exemplo feito a mão:

In [5]:
peso = 76.2
type(peso)

float

Ambos tem valores flutuantes, observe:

In [6]:
print('Valor no data frame:', hl_df.loc[2, 'Relevance'])
print('Valor da variável criada a mão:', peso)

Valor no data frame: 0.97
Valor da variável criada a mão: 76.2

---

# Integer

Diferente dos tópicos anteriores, o tipo inteiro nas duas linguagens (R e Python) é o mesmo: o **int**. Usando `type()`, passando a variável que contém o dado como parâmetro do método podemos ver seu tipo.

In [7]:
type(hl_df.loc[0, 'Semester that joined'])

numpy.int64

Assim como no exemplo anterior, se olharmos uma variável feita a mão vamos notar que têm valores parecidos, portanto o tipo continua sendo o mesmo, mudando apenas a forma de sua anotação (os valores do data frame tem o tipo representado pelo **NumPy**)!

In [8]:
qtdFilhos = 3
type(qtdFilhos)

int

In [9]:
print('Valor no data frame:', hl_df.loc[0, 'Semester that joined'])
print('Valor da variável criada a mão:', qtdFilhos)

Valor no data frame: 2
Valor da variável criada a mão: 3

---

# Logical

O valor lógico do R (**logical**) é representado no Python por **bool**. Ambos tem valores lógicos, ou seja, apenas **True** e **False**. Usando `type()`, passando a variável que contém o dado como parâmetro do método podemos ver seu tipo.

In [10]:
type(hl_df.loc[0, 'Founder'])

numpy.bool_

Seguindo os exemplos dados anteriormente, é possível mostrar que o valor do data frame e o valor feito a mão dentro da linguagem são parecidos, apenas mudando a forma como é imprimido seu tipo. Veja:

In [11]:
temCarro = True
type(temCarro)

bool

In [12]:
print('Valor no data frame:', hl_df.loc[0, 'Founder'])
print('Valor da variável criada a mão:', temCarro)

Valor no data frame: True
Valor da variável criada a mão: True

---

# Vectors

> *"O vetor pode ser considerado uma variável multidimensional indexada, ou seja, uma variável que tem a capacidade de guardar mais de um valor simultaneamente do mesmo tipo."*
>
> -- [Renata Florence dos Santos](http://nerdsti.com.br/?author=2)

Para a criação desses vetores utilizamos um laço de repetição para preencher dois vetores vazios. O primeiro vetor é preenchido através do método `vector.append()`, passando como parâmetro os dados que serão *inputados* no vetor vazio. O laço de repetição se repetirá 9 vezes. O segundo vetor sofre o mesmo processo.

In [48]:
hl_relevance_vector = []
for i in range(0, 10):
    hl_relevance_vector.append(hl_df.loc[i, 'Relevance'])
hl_relevance_vector

[1.0, 1.0, 0.97, 1.0, 1.0, 0.99, 0.22, 0.22, 0.58, 0.35]

In [44]:
hl_names_vector = []
for i in range(0, 10):
    hl_names_vector.append(hl_df.loc[i, 'Member'])
hl_names_vector

['Matheus Marques Polillo',
 'Thiago Aires',
 'Marcello Bertero',
 'Felipe Leitão',
 'João Pedro Libonati',
 'Bruno Seiti',
 'Alexandre de Godoy',
 'Bruno Paes',
 'Miguel Kannan',
 'Guilherme Reis']

---

# Lists

> *"Lists are just like the arrays, declared in other languages. Lists need not be homogeneous always which makes it a most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are also very useful for implementing stacks and queues. Lists are mutable, and hence, they can be altered even after their creation."*
>
> -- [GeeksforGeeks](https://www.geeksforgeeks.org/python-list/)

Para criarmos a lista, primeiro instanciamos uma vazia e, através de um laço de repetição que se repete 9 vezes, foi preenchendo a lista através do `lista.append()`. Por se tratar de uma lista, ela comporta vários tipos de dados, portanto há um total de 3 tipos de `lista.append()`.

In [38]:
hl_list = []
for i in range(0, 10):
    hl_list.append(hl_df.loc[i, 'Member'])
    hl_list.append(hl_df.loc[i, 'Relevance'])
    hl_list.append(hl_df.loc[i, 'Founder'])
print(hl_list)

['Matheus Marques Polillo', 1.0, True, 'Thiago Aires', 1.0, True, 'Marcello Bertero', 0.97, False, 'Felipe Leitão', 1.0, True, 'João Pedro Libonati', 1.0, True, 'Bruno Seiti', 0.99, False, 'Alexandre de Godoy', 0.22, False, 'Bruno Paes', 0.22, False, 'Miguel Kannan', 0.58, False, 'Guilherme Reis', 0.35, False]

---

# Matrizes

As **matrizes** não são mais do que vetores, contudo elas tem múltiplas dimensões, diferentemente dos vetores que é unidimensional (uma dimensão). Para montarmos uma matriz simples bidimensional iremos utilizar a biblioteca **Numpy**.

In [66]:
import numpy

hl_vector_1 = [hl_df.loc[0, 'Member'], hl_df.loc[1, 'Member']]
hl_vector_2 = [hl_df.loc[2, 'Member'], hl_df.loc[3, 'Member']]
hl_matrix = numpy.matrix([hl_vector_1, hl_vector_2])
print(hl_matrix)

[['Matheus Marques Polillo' 'Thiago Aires']
 ['Marcello Bertero' 'Felipe Leitão']]

---

# Data frame

> Estrutura de dados tabular bidimensional, mutável em tamanho e potencialmente heterogênea, com eixos rotulados (linhas e colunas). As operações aritméticas são alinhadas nos rótulos de linha e coluna. Pode ser pensado como um contêiner do tipo ditado para objetos **Series**. A estrutura de dados principal dos **Pandas**.
>
> -- [Pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

É importante ressaltar que apenas listas de tamanhos iguais podem formar um data frame!

Para esta operação utilizamos a biblioteca **Pandas** no qual, através do método `pandas.DataFrame()` construímos um data frame a partir de um dicionário.

In [37]:
hl_members = pandas.DataFrame({'Member': hl_df["Member"], 'Founder': hl_df['Founder']})
hl_members

                    Member  Founder
0  Matheus Marques Polillo     True
1             Thiago Aires     True
2         Marcello Bertero    False
3            Felipe Leitão     True
4      João Pedro Libonati     True
5              Bruno Seiti    False
6       Alexandre de Godoy    False
7               Bruno Paes    False
8            Miguel Kannan    False
9           Guilherme Reis    False

In [36]:
hl_corp = pandas.DataFrame({'Member': hl_df["Member"], 'Hentai Lab Corp': hl_df['Hentai Lab Corp']})
hl_corp

                    Member Hentai Lab Corp
0  Matheus Marques Polillo            West
1             Thiago Aires            West
2         Marcello Bertero            West
3            Felipe Leitão            East
4      João Pedro Libonati            East
5              Bruno Seiti            East
6       Alexandre de Godoy             NaN
7               Bruno Paes             NaN
8            Miguel Kannan             NaN
9           Guilherme Reis             NaN

---

# Factors

Os **factors** são variáveis qualitativas que podem ser incluídas nos modelos.

In [63]:
hl_relevance = []
for i in range(0, 10):
    hl_relevance.append(hl_df.loc[i,'Relevance'])
hl_relevance_factor = pandas.Series(hl_relevance, dtype='category')
hl_relevance_factor

0    1.00
1    1.00
2    0.97
3    1.00
4    1.00
5    0.99
6    0.22
7    0.22
8    0.58
9    0.35
dtype: category
Categories (6, float64): [0.22, 0.35, 0.58, 0.97, 0.99, 1.00]

In [62]:
hl_founder = []
for i in range(0, 10):
    hl_founder.append(hl_df.loc[i,'Founder'])
hl_founder_factor = pandas.Series(hl_founder, dtype='category')
hl_founder_factor

0     True
1     True
2    False
3     True
4     True
5    False
6    False
7    False
8    False
9    False
dtype: category
Categories (2, object): [False, True]

---

# Missing values

Enquanto no R os campos que não há valor informado são chamados de **NaN**, no Python são chamados de **None**. Montamos um vetor com alguns campos com valores "não-respostas", ou seja, **None** para mostrarmos como seria.

In [101]:
none_vector = [12.3, 19.0, 65.14, None, None, 1.3, None]
none_vector

[12.3, 19.0, 65.14, None, None, 1.3, None]

Contudo, o Python não tem uma função nativa para saber se um valor é **None** ou não, portanto cabe a nós desenvolver esta função ou utilizar uma biblioteca que já tenha ela, que no caso é o **NumPy**.

In [79]:
print(numpy.isnan(none_vector))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

Mas, como mostra o erro acima, é necessário ter consciência de que o método `numpy.isnan()` do **NumPy** é limitado ao seu próprio valor nulo. Portanto, faremos das duas formas: construíremos um método para verificar o valor **None** e usaremos também o método `numpy.isnan()`.

Começando pelo método do **NumPy**, vamos ajustar o vetor que criamos.

In [97]:
none_vector = [12.3, 19.0, 65.14, numpy.nan, numpy.nan, 1.3, numpy.nan]
none_vector

[12.3, 19.0, 65.14, nan, nan, 1.3, nan]

In [98]:
print(numpy.isnan(none_vector))

[False False False  True  True False  True]

Aí está, o **NumPy** consegue identificar os valores nulos quando utilizamos o método da própria biblioteca para gerar seus próprios valores nulos.

Agora, vamos criar nosso próprio método de verificação.

In [121]:
def is_none(v):
    none_vector = []
    for i in v:
        if i != None:
            none_vector.append(False)
        else:
            none_vector.append(True)
    return none_vector

Este é o método `is_none()`. Ele recebe como parâmetro um vetor. Dentro deste método há um vetor que receberá valores booleanos baseado na verificação do método. Ele verificará, em cada posição do vetor, onde há valor **None** e onde não há. No fim, ele retorna o vetor com os valores booleanos.

In [123]:
is_none(none_vector)

[False, False, False, True, True, False, True]

---

# Subsetting

**Subsetting** é a capacidade do Python de retornar um ou mais valores baseado no número correspondente a posição do vetor. Ou seja, valor(es) correspondente(s) a posição 0 (no R é 1) de um certo vetor serão retornadas caso o programa seja ordenado a tal. Um exemplo disso é o que foi feito na apresentação dos integrantes do grupo.

In [124]:
hl_df[:3]

,Member,Hentai Lab Corp,Relevance,Semester that joined,Founder
0,Matheus Marques Polillo,West,1.00,2,True
1,Thiago Aires,West,1.00,2,True
2,Marcello Bertero,West,0.97,3,False

Aqui é selecionado apenas os três primeiros valores do data frame. Vamos usar o vetor de *members* criado anteriormente no tópico de vetores para aplicar o **subsetting** nele.

In [137]:
print(hl_names_vector[0])
print("\n=======================\n")
print(hl_names_vector[1:3])
print("\n=======================\n")
print(hl_names_vector[:10])

Matheus Marques Polillo

=======================

['Thiago Aires', 'Marcello Bertero']

=======================

['Matheus Marques Polillo', 'Thiago Aires', 'Marcello Bertero', 'Felipe Leitão', 'João Pedro Libonati', 'Bruno Seiti', 'Alexandre de Godoy', 'Bruno Paes', 'Miguel Kannan', 'Guilherme Reis']

Agora, vamos utilizar o data frame inteiro para podermos ver como o **subsetting** se comporta quando aplica a ele.

In [138]:
print(hl_df['Member'].to_string(index=False))

 Matheus Marques Polillo
            Thiago Aires
        Marcello Bertero
           Felipe Leitão
     João Pedro Libonati
             Bruno Seiti
      Alexandre de Godoy
              Bruno Paes
           Miguel Kannan
          Guilherme Reis

---

# Logical subsetting

Funciona da mesma forma que o **subsetting** apresentado anteriormente, porém ele trabalha com valores booleanos que são resultados de verificações de existência feitas pelo Python. Para entender melhor, observe:

In [141]:
is_polillo = hl_df.Member == "Matheus Marques Polillo"
hl_df.loc[is_polillo]

,Member,Hentai Lab Corp,Relevance,Semester that joined,Founder
0,Matheus Marques Polillo,West,1.0,2,True

Como pode ser observado acima, a variável `is_polillo` carrega um vetor de valores booleanos, resultantes da verificação feita pelo restante da linha de código, analisando se há ou não o valor *Matheus Marques Polillo* dentro da coluna *Members* do data frame. No meio do vetor desta variável deverá haver um **True** responsável por avisar em que índice o valor *Matheus Marques Polillo* se encontra para que assim o `dataframe.loc[]` funcione. Veja o valor da variável:

In [144]:
is_polillo

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Member, dtype: bool

Vamos fazer de outra forma. Desta vez, coletaremos apenas os membros fundadores do grupo, ou seja, que tem o valor booleano **True** na coluna *Founder*.

In [145]:
is_founder = hl_df.Founder == True
hl_df.loc[is_founder]

,Member,Hentai Lab Corp,Relevance,Semester that joined,Founder
0,Matheus Marques Polillo,West,1.0,2,True
1,Thiago Aires,West,1.0,2,True
3,Felipe Leitão,East,1.0,2,True
4,João Pedro Libonati,East,1.0,2,True

In [148]:
is_founder

0     True
1     True
2    False
3     True
4     True
5    False
6    False
7    False
8    False
9    False
Name: Founder, dtype: bool

---

# Merge( )

Este método pertence a biblioteca **Pandas**, responsável por mesclar dois data frames. Função bastante parecida com as funções de *join* que usamos em SQL.

Para fazermos um `merge()` que funcione com excelência vamos usar dois data frames que tenham uma coluna e seus valores parecidos para que o método identifique quais são os valores iguais e, através disso, faça o *merge* com os valores pertencentes as linhas corretas. Para isso, vamos usar um data frame que irá coletar o nome dos membros e se ele é ou não fundador, e outro data frame que irá coletar o nome dos membros (pra fazer a associação com o outro data frame) e de qual corporação do HL ele pertence. Observe:

In [152]:
hl_corp_df = pandas.DataFrame({'Member': hl_df["Member"], 'Hentai Lab Corp': hl_df['Hentai Lab Corp']})
hl_member_df = pandas.DataFrame({'Member': hl_df["Member"], 'Founder': hl_df['Founder']})
hl_merge_df = pandas.merge(hl_corp_df, hl_member_df)

hl_merge_df

                    Member Hentai Lab Corp  Founder
0  Matheus Marques Polillo            West     True
1             Thiago Aires            West     True
2         Marcello Bertero            West    False
3            Felipe Leitão            East     True
4      João Pedro Libonati            East     True
5              Bruno Seiti            East    False
6       Alexandre de Godoy             NaN    False
7               Bruno Paes             NaN    False
8            Miguel Kannan             NaN    False
9           Guilherme Reis             NaN    False