# Character

In [1]:
nome = "Maria"
typeof(nome)

String

In [2]:
print(nome)

Maria

---

# Integer

In [3]:
qtdFilhos = 1
typeof(qtdFilhos)

Int64

In [4]:
print(qtdFilhos)

1

---

# Logical

In [5]:
temCarro = true
typeof(temCarro)

Bool

In [6]:
print(temCarro)

true

---

# Vectors

Um conjunto de valores da mesma classe.

In [7]:
pesos = [7.76, 80.3, 90, 117.4]
print(pesos)

[7.76, 80.3, 90.0, 117.4]

In [8]:
nomes = ["Maria", "Carlos", "Pedro"]
print(nomes)

["Maria", "Carlos", "Pedro"]

---

# Lists

Um conjunto de valores que pode serheterogêneo.

In [9]:
pesosV = [7.76, 80.3, 90, 117.4]
nomesV = ["Maria", "Carlos", "Pedro", "Antônio"]

myList = [pesosV, nomesV]
print(myList[1], myList[2])

[7.76, 80.3, 90.0, 117.4]["Maria", "Carlos", "Pedro", "Antônio"]

In [10]:
print(myList[1])

[7.76, 80.3, 90.0, 117.4]

In [11]:
print(myList[2])

["Maria", "Carlos", "Pedro", "Antônio"]

---

# Matrizes

Vetores com múltiplas dimensões

In [18]:
matrix = [1 2;3 4]

2×2 Array{Int64,2}:
 1  2
 3  4

---

# Data frames

Múltiplos vetores de classes diferentes, mas com o mesmo tamanho.

In [13]:
using DataFrames

vector1 = [188.2, 181.3, 193.4]
vector2 = ["Jeff", "Roger", "Andrew", "Brian"]

myDataFrame = DataFrame(Heights = vector1, First_names = vector2)

DimensionMismatch: DimensionMismatch("column length 3 for column(s) Heights, and is incompatible with column length 4 for column(s) First_names")

In [14]:
myDataFrame

UndefVarError: UndefVarError: myDataFrame not defined

# Data frames

In [19]:
using DataFrames

vector1 = [188.2, 181.3, 193.4]
vector2 = ["Jeff", "Roger", "Andrew"]

myDataFrame = DataFrame(Heights = vector1, First_names = vector2)

3×2 DataFrame
│ Row │ Heights │ First_names │
│     │ Float64 │ String      │
├─────┼─────────┼─────────────┤
│ 1   │ 188.2   │ Jeff        │
│ 2   │ 181.3   │ Roger       │
│ 3   │ 193.4   │ Andrew      │

---

# Factors

Variáveis qualitativas que podem ser incluídas no modelo.

---

# Missing values

No R os valores faltantes são codificados como NA

In [95]:
vector1 = [188.2, 181.3, 193.4, NaN]
print(vector1)

print("\n\n===============\n\n")

for i = 1:4
    print(isnan(vector1[i]), "\n")
end

[188.2, 181.3, 193.4, NaN]

===============

false
false
false
true

---

# Subsetting

In [102]:
using DataFrames

vector1 = [188.2, 181.3, 193.4, 192.3]
vector2 = ["Jeff", "Roger", "Andrew", "Brian"]

myDataFrame = DataFrame(Heights = vector1, First_names = vector2)

print(vector1[1], "\n\n")
print(vector1[1], " " ,vector1[2], " " , vector1[4])

188.2

188.2 181.3 192.3

# Subsetting

In [159]:
print(myDataFrame[1, :])
print("\n\n===============\n\n")
print(myDataFrame[:, 2])
print("\n\n===============\n\n")
print()

DataFrameRow
│ Row │ Heights │ First_names │
│     │ Float64 │ String      │
├─────┼─────────┼─────────────┤
│ 1   │ 188.2   │ Jeff        │

===============

["Jeff", "Roger", "Andrew", "Brian"]

===============

---

# Logical subsetting

In [157]:
print(myDataFrame[myDataFrame.First_names .== "Jeff", :])
print("\n\n===============\n\n")
print(myDataFrame[myDataFrame.Heights .< 190, :])

1×2 DataFrame
│ Row │ Heights │ First_names │
│     │ Float64 │ String      │
├─────┼─────────┼─────────────┤
│ 1   │ 188.2   │ Jeff        │

===============

2×2 DataFrame
│ Row │ Heights │ First_names │
│     │ Float64 │ String      │
├─────┼─────────┼─────────────┤
│ 1   │ 188.2   │ Jeff        │
│ 2   │ 181.3   │ Roger       │